<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
        }

        td {
            text-align: center;
            vertical-align: middle;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#search_stock_form').on('submit', function (e) {
                $("#search_result").empty();
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "/stock?stock=" + $("#stock_name").val(),
                    success: function (result) {
                        let span = $('<span>Total record: ' + result.length + '</span><br/>')
                        $("#search_result").append(span);
                        let table = $('<table>' +
                            '<tr>' +
                            '<td>quarter' +
                            '</td>' +
                            '<td>stock' +
                            '</td>' +
                            '<td>date' +
                            '</td>' +
                            '<td>open' +
                            '</td>' +
                            '<td>high' +
                            '</td>' +
                            '<td>low' +
                            '</td>' +
                            '<td>close' +
                            '</td>' +
                            '<td>volume' +
                            '</td>' +
                            '<td>percent_change_price' +
                            '</td>' +
                            '<td>percent_change_volume_over_last_wk' +
                            '</td>' +
                            '<td>previous_weeks_volume' +
                            '</td>' +
                            '<td>next_weeks_open' +
                            '</td>' +
                            '<td>next_weeks_close' +
                            '</td>' +
                            '<td>percent_change_next_weeks_price' +
                            '</td>' +
                            '<td>days_to_next_dividend' +
                            '</td>' +
                            '<td>percent_return_next_dividend' +
                            '</td>' +
                            '</tr>' +
                            '</table>');
                        let keys = Object.keys(result[0])
                        let columnCount = keys.length
                        for (let i = 0; i < result.length; i++) {
                            let row = $('<tr></tr>');
                            for (let j = 1; j < columnCount - 1; j++) {
                                let rowData = $('<td></td>').text(result[i][keys[j]]);
                                row.append(rowData);
                            }
                            table.append(row);
                        }
                        if ($('table').length) {
                            $("#search_result tr:first").after(row);
                        } else {
                            $('#search_result').append(table);
                        }
                    }
                });
                e.preventDefault();
            });
            $('#insert_stock_form').on('submit', function (e) {
                let formData = $('#insert_stock_form').serializeArray();
                document.getElementById("insert_stock_form").reset();
                let data = {};
                $.each(formData,
                    function (i, v) {
                        data[v.name] = v.value;
                    });
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/stock",
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        alert("Stock market data added successfully")
                    },
                    error: function (error) {
                        alert(JSON.stringify(error))
                    }
                });
                e.preventDefault();
            })
        });
    </script>
    <title>StockDataMarket</title>
</head>
<body>
<form action="/stock/upload" enctype="multipart/form-data" method="POST">
    <h2>Upload stock market data file</h2>
    <input type="file" name="data" required/> <br>
    <input type="submit" value="submit">
</form>
<br/>
<form id="insert_stock_form">
    <h2>Insert stock market data</h2>
    <label>
        quarter:
        <input type="number" name="quarter" step="any" required/>
    </label>
    <br>
    <label>
        stock:
        <input type="text" name="stock" required/>
    </label>
    <br>
    <label>
        date:
        <input type="text" name="date" required/>
    </label>
    <br>
    <label>
        open:
        <input type="text" name="open"/>
    </label>
    <br>
    <label>
        high:
        <input type="text" name="high"/>
    </label>
    <br>
    <label>
        low:
        <input type="text" name="low"/>
    </label>
    <br>
    <label>
        close:
        <input type="text" name="close"/>
    </label>
    <br>
    <label>
        volume:
        <input type="number" name="volume"/>
    </label>
    <br>
    <label>
        percent_change_price:
        <input type="number" name="percent_change_price"/>
    </label>
    <br>
    <label>
        percent_change_volume_over_last_wk:
        <input type="number" name="percent_change_volume_over_last_wk"/>
    </label>
    <br>
    <label>
        previous_weeks_volume:
        <input type="number" name="previous_weeks_volume"/>
    </label>
    <br>
    <label>
        next_weeks_open:
        <input type="text" name="next_weeks_open"/>
    </label>
    <br>
    <label>
        next_weeks_close:
        <input type="text" name="next_weeks_close"/>
    </label>
    <br>
    <label>
        percent_change_next_weeks_price:
        <input type="number" name="percent_change_next_weeks_price"/>
    </label>
    <br>
    <label>
        days_to_next_dividend:
        <input type="number" name="days_to_next_dividend"/>
    </label>
    <br>
    <label>
        percent_return_next_dividend:
        <input type="number" name="percent_return_next_dividend"/>
    </label>
    <br>
    <input type="submit" value="submit">
</form>
<br/>
<form id="search_stock_form">
    <h2>Search stock market data</h2>
    <label for="stock_name">Stock name:</label>
    <input id="stock_name" type="search" name="data" placeholder="Stock name"/> <br>
    <input type="submit" value="search">
</form>
<br>
<div id="search_result">
</div>
</body>
</html>